 .Pane {
     -fx-background-image:url(wp.jpg);
 }

 .textMsg {
     -fx-padding: 0 19;
     -fx-background-color: transparent, white, transparent,white;
     -fx-background-insets: 0, 6, 0;
     -fx-background-radius: 8em;
     -fx-font-size: 18px;
 }

 .text-area{
     -fx-background-color: transparent;
 }

 .btnSend{
     -fx-background-image:url(paper1.png);
     -fx-background-color: transparent;
 }
 .textFlow{
     -fx-background-color: linear-gradient(to left, #4e535d, #4f666e);
     -fx-background-insets: -5 -10 -5 -5;
     -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,0.5,0.5);
     -fx-shape: "M 94.658379,129.18587 H 46.277427 c -3.545458,0.23354 -5.32763,-1.59167 -5.14193,-4.67449
     v -19.39913 c 0.405797,-3.73565 2.470637,-4.56641 5.14193,-4.90821 h 43.706464 c 2.572701,0.2361 4.604321,
     1.68288 4.674488,4.90821 v 19.39913 c 0.436089,3.14572 2.890695,3.57304 4.908212,4.67449 z";
 }

 .textFlowFlipped{
     -fx-background-color: linear-gradient(to left, #4c4e53, #6a6e70);
     -fx-background-insets: -5 -5 -5 -10;
     -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,-0.5,-0.5);
     -fx-shape: "m 46.030545,129.18592 h 48.380952 c 3.54546,0.23355 5.32763,-1.59167 5.14193,-4.67449
     V 105.1123 c -0.4058,-3.73565 -2.47064,-4.56641 -5.14193,-4.90821 H 50.705033
     c -2.572701,0.2361 -4.604321,1.68288 -4.674488,4.90821 v 19.39913
     c -0.436089,3.14572 -2.890695,3.57304 -4.908212,4.67449 z";
 }

 .tempFlow{
     -fx-padding: 5 10 5 5;
 }

 .tempFlowFlipped{
     -fx-padding: 5 5 5 10;
 }

 .hbox{
     -fx-background-insets: 28;
     -fx-padding: 18px;
 }
 .message{
     -fx-font-size: 18px;
     -fx-font-weight: 300;
 }
 #scrollPane{
     -fx-background-color: transparent;
 }
 #scrollPane >.viewport{
     -fx-background-color: transparent;
 }

 #scrollPane .scroll-bar:vertical{
     -fx-background-color:inherit;

 }

 #scrollPane .scroll-bar:vertical .track{
     -fx-background-color:transparent;
     -fx-border-color:transparent;
     -fx-background-radius: 0em;

 }
 #scrollPane .scroll-bar:vertical .increment-button,
 #scrollPane .scroll-bar:vertical .decrement-button{
     -fx-background-color:transparent;
     -fx-background-radius: 0em;
     -fx-padding:0 0 10 0;

 }

 #scrollPane  .scroll-bar .increment-arrow,
 #scrollPane  .scroll-bar .decrement-arrow {
     -fx-shape: " ";
     -fx-padding:0;
 }
 #scrollPane .scroll-bar:vertical .thumb {
     -fx-background-color:transparent;

 }
 #scrollPane:hover .scroll-bar:vertical .thumb{
     -fx-background-color:rgba(0,0,0,0.6);
     -fx-background-insets: 4, 0, 0;
     -fx-background-radius: 2em;
 }